<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <link th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>

    </head>

    <body>
       <th:block th:include="/menu"></th:block>
       <main role="main" class="container">

           <div class="starter-template"  style="margin: 40px 0 !important;">
               <h1>Уважаемые посетители нашего сайта! </h1>
               <p class="lead"> Сообщаем вам что наш сервис работает только для животных всех пород и окрасов даже для инопланетных. Если вы животное  от одного года вы можете воспользоваться нашим сервисом!  Если вы человек предоставьте  письменное разрешение  от вашего животного либо покиньте сайт!
                   <br>У нас вы сохраните ваши файлы а также поделитесь ими с другими такими же усатыми, полосатыми, пушистыми и прочими.<br>
                   Желаем вам хорошего файлохранения!</p>
           </div>

       </main><!-- /.container -->

       <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    </body>

</html>