<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:utext="${title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <link th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>


        <style>
            body {
                background: #483368;
                background: linear-gradient(to right, #0062E6, #33AEFF);
            }
        </style>  
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center"></h5>

                                <div class="form-label-group">
                                    <label for="ligin" th:text="#{Msg.Register}"></label>
                                    <input type="text" class="form-control"  th:value="${login}"  readonly="readonly" />
                                </div>
                               <p>
                                <div class="form-label-group">
                                 <a class="btn btn-lg btn-primary btn-block text-uppercase" th:href="@{/login}" th:text="#{Sign.Info}"></a>
                                 </div>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    </body>